{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="{% static 'css/styles-home.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>UROMED</h1>
            <nav>
                <ul style="display: flex; list-style: none;">
                    <li><a href="#">Agregar Examen</a></li>
                    <li><a href="#">Agregar Informe</a></li>
                    <li><a href="#">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <aside class="sidebar">
            <h3>Navegación</h3>
            <ul>
                <li><a href="#">Gestión de Exámenes</a></li>
                <li><a href="#">Ver Informes</a></li>
                <li><a href="#">Configuraciones</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </aside>

        <main class="main-content">

            <section class="grid">
                <div class="card summary">
                    <h3>Resumen de Actividades</h3>
                    <p>Total de Exámenes Realizados: <strong>10</strong></p>
                    <p>Total de Informes Generados: <strong>5</strong></p>
                    <p>Próximos Exámenes: <strong>2</strong></p>
                </div>

                <div class="card quick-actions">
                    <h3>Acciones Rápidas</h3>
                    <button>Crear Nuevo Examen</button>
                    <button>Generar Informe</button>
                </div>

                <div class="card notifications">
                    <h3>Notificaciones</h3>
                    <ul>
                        <li>Nuevo examen creado: Examen de Altura Física.</li>
                        <li>Informe generado: Informe de Espacios Confinados.</li>
                    </ul>
                </div>

                <div class="card additional-info">
                    <h3>Información Adicional</h3>
                    <p>Revisar las configuraciones de la aplicación y ajustar los parámetros necesarios.</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
