* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    height: 90%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem;
    color: #032f74;
    margin-bottom: 1rem;
    text-align: left;
}

.nav-tabs {
    border-bottom: 2px solid #032f74;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    font-size: 1rem;
    color: #032f74;
    font-weight: bold;
    padding: 0.5rem;
}

.nav-link.active {
    background-color: #032f74;
    color: white;
    border-radius: 5px;
}

.tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0.5rem 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.table thead {
    background-color: #032f74;
    color: white;
    text-align: left;
}

.table thead th,
.table tbody td {
    padding: 0.5rem;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

textarea.form-control {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 5px;
}

button.btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #032f74;
    color: white;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button.btn-info {
    background-color: #17a2b8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

button.btn-info:hover {
    background-color: #138496;
    transform: translateY(-2px);
    color: white;
}

button.btn-close {
    font-size: 1.2rem;
    color: #032f74;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 0.9rem;
    }
    .table thead th,
    .table tbody td {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1rem;
    }
    .nav-link {
        font-size: 0.8rem;
    }
    button.btn {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }
}