/* styles.css */


/* Estilos para el Login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-form {
    flex: 0 0 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #032f74;
    color: white;
}

.login-title {
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #7eddd3;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    background: linear-gradient(180deg, #032f74, #7eddd3);
    color: white;
    padding: 10px;
    border: 2px solid #7eddd3;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background 2s ease, border-color 2s ease;
}

button:hover {
    background: linear-gradient(180deg, #28a745, #555);
    border-color: #28a745;
    transition-delay: 3s;
}

div p {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}


/* Estilos para la imagen */

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}