/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f1;
    color: #333;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: #032f74;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a,
h1 {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #032f74;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.card h3 {
    margin-bottom: 10px;
}

.quick-actions {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 100%;
}

.quick-actions button {
    background: linear-gradient(180deg, #032f74, #7eddd3);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.quick-actions button:hover {
    background: linear-gradient(180deg, #28a745, #555);
}

.notifications ul {
    list-style-type: none;
    padding: 0;
}